
@{
    ViewBag.Title = "Giới thiệu";
}

<link href="~/Content/ANZCore.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class="con">
    <div class="videoInno">
        <iframe height="550" src="https://www.youtube.com/embed/t-hLLaQ2_z8?autoplay=1&loop=1;showinfo=0" frameborder="0" allow="accelerometer; loop; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="inno_girl">
    <h1 class="text-primary1 mb-2 f-s-250">INNO<label class="m-l-1 f-s-70">JECTOR</label></h1>
    <img src="~/Images/inno_girl.png" />
</div>

<div class="con mt-5 mb-5">
    <div class="r-n-g">
        <div class="c-12 mb-3">
            <h2 class="text-center mb-3 text-dark">Chào mừng đến website của chúng tôi</h2>
            <p class="text-center pl-l-5 pr-l-5 text-lighdark">
                Chúng tôi là đại lý phân phối  dược phẩm sinh học tự nhiên từ công ty Inist Hàn Quốc,
                mang đến cho khách hàng các sản phẩm làm đẹp da từ các nguyên liệu tự nhiên. Ngoài ra, sản phẩm của chúng tôi giúp cho khách hàng đạt được hiệu quả điều trị cao nhất.
            </p>
        </div>
    </div>
    <div class="r-n-g mt-5 justify-content-center">
        <div class="c-10 c-m-6 c-l-4">
            <div class="d-f flex-column box box-rounded pop-box m-3 bd-1" style="width: auto">
                <i class="mt-5 mb-4 fa fa-5x fa-users box-animation text-center text-blue"></i>
                <a class="bg-link-2 ml-5 mr-5"><h3 class="text-center">Đội ngũ kinh doanh chuyên nghiệp</h3></a>
                <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center">
                    Company was founded by scientists dedicated to create new therapeutics.
                </span>
                <div class="m-4"></div>
                <div class="d-f justify-content-center mb-5">
                    <a class="btn btn-primary">Xem them</a>
                </div>
            </div>
        </div>

        <div class="c-10 c-m-6 c-l-4">
            <div class="d-f flex-column box box-rounded pop-box m-3 bd-1" style="width: auto">
                <i class="mt-5 mb-4 fa fa-5x fa-leaf box-animation text-center text-blue"></i>
                <a class="bg-link-2 ml-5 mr-5"><h3 class="text-center">Đội ngũ kinh doanh chuyên nghiệp</h3></a>
                <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center">
                    Company was founded by scientists dedicated to create new therapeutics.
                </span>
                <div class="m-4"></div>
                <div class="d-f justify-content-center mb-5">
                    <a class="btn btn-primary">Xem them</a>
                </div>
            </div>
        </div>
        <div class="c-10 c-m-6 c-l-4">
            <div class="d-f flex-column box box-rounded pop-box m-3 bd-1 " style="width: auto">
                <i class="mt-5 mb-4 fa fa-5x fa-snowflake-o box-animation text-center text-blue"></i>
                <a class="bg-link-2 ml-5 mr-5"><h3 class="text-center">Đội ngũ kinh doanh chuyên nghiệp</h3></a>
                <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center">
                    Company was founded by scientists dedicated to create new therapeutics.
                </span>
                <div class="m-4"></div>
                <div class="d-f justify-content-center mb-5">
                    <a class="btn btn-primary">Xem them</a>
                </div>
            </div>
        </div>
    </div>
</div>