
@{
    ViewBag.Title = "Giới thiệu";
}

<div class="r">
    
    <div class="c-10">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>


