h2#title1{
    text-align: center;
}
div#list1 {
    padding: 0% 2%;
}
#bai1{
    background-image: url(https://stmed.net/sites/default/files/light-wallpapers-25248-9886303.jpg);
}
div#main1{
    background-color: white;
}
div#header1 {
    padding: 0% 10%;
}
h3#subtitle {
    text-align: center;
}
img.Hinh1_1 {
    width: 100%;
    height: 93%;
}
img.purrience_cream{
    width: 85%;
    height: 95%;
    padding-left: 14%;
    padding-top: 2%;
}
div#param1_2{
    padding: 0% 2%;
}
img.purrience_mask{
    width: 85%;
    height: 95%;
    padding-left: 14%;
    padding-top: 2%;
}
div#param1_3{
    padding: 0% 2%;
}
img.Hinh2_1{
    width: 100%;
    height: 93%;
}
div#param2_1{
    padding: 0% 2%;
}
img.Hinh4 {
    width: 100%;
    height: 93%;    
    padding-top: 2%;
}
img.Hinh4_1{
    width: auto;
    height: auto;
    margin: auto;
    padding: 2% 0%;
}
img.Hinh4_2{
    width: auto;
    height: auto;
    margin: auto;
    padding: 2% 0%;
}
#param4{
    padding: 0% 2%;
}
/*Begin change color lap lanh*/


.awesome {
	
	font-family: futura;
	font-style: italic;
	
	width:100%;
	
	margin: 0 auto;
	text-align: center;
	
	color:#313131;
	font-size:16px;
	font-weight: bold;
	
	-webkit-animation:colorchange 0.5s infinite alternate;
	
	
  }

  @-webkit-keyframes colorchange {
	0% {
	  
	  color: blue;
	}
	
	10% {
	  
	  color: #8e44ad;
	}
	
	20% {
	  
	  color: #1abc9c;
	}
	
	30% {
	  
	  color: #d35400;
	}
	
	40% {
	  
	  color: blue;
	}
	
	50% {
	  
	  color: #34495e;
	}
	
	60% {
	  
	  color: blue;
	}
	
	70% {
	  
	  color: #2980b9;
	}
	80% {
   
	  color: #f1c40f;
	}
	
	90% {
   
	  color: #2980b9;
	}
	
	100% {
	  
	  color: pink;
	}
  }
/*End change color lap lanh*/