.DT_an_1 {
    width: 100%;
    height: auto;
}
.DT_an_2 {
    width: 80%;
    height: auto;
}
.DT_an_3 {
    width: 80%;
    height: auto;
}
.DT_an_4 {
    width: 80%;
    height: auto;
}
.DT_an_5 {
    width: 50%;
    height: auto;
}
.DT_an_6 {
    width: 80%;
    height: auto;
}
.DT_an_7 {
    width: 80%;
    height: auto;
}
.DT_an_8 {
    width: 80%;
    height: auto;
}