<script src="~/Scripts/slider.js"></script>
<script src="~/Scripts/partical.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="http://www.youtube.com/player_api"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

@{
    ViewBag.Title = "Trang chủ";
}
@section Scripts{
    <script src="~/Scripts/partical.js" defer></script>
    <script>
        setTimeout(function a() {
            if (typeof ANZ == 'undefined') {
                setTimeout(a, 50);
            } else {
                ANZ.RenderPartial();
            }
        }, 50);
    </script>
}


<!--slide video test Youtube-->
<div id="stickyBody">
    <div class="partical-con pb-2">
        <div id="particles-js">
            <canvas class="particles-js-canvas-el" width="3859" height="573" style="width: 100%; height: 100%;"></canvas>
        </div>
        <div class="confull">
            <div class="slider pt-5 pb-5">
                <ul>
                    <li data-video="c8E2j2slRk0"></li>
                    <li data-video="A9sUlNl5QpU"></li>
                    <li data-video="zsExwuZ3MA8"></li>
                </ul>
                <div id="player" class="player"></div>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT 3 LAYER -->
<div class="products1">
    <div class="container">
        <div class="r-n-g">
            <div class="c-s-6 c-m-5 c-l-5">
                <div class="r">
                    <div class="c-s-12 c-m-12 c-l-12 pr-5">
                        <a><img class="box-rounded" src="/Images/product_3.png"></a>
                    </div>
                    <div class="c-s-12 c-m-12 c-l-12 pt-5">
                        <a><img class="box-rounded1" src="/Images/product_4.png"></a>
                    </div>
                </div>
            </div>
            <div class="c-s-6 c-m-2 c-l-2">
                <a><img class="box-rounded2" src="/Images/innojector.png"></a>
            </div>
            <div class="c-s-12 c-m-5 c-l-5">
                <a><img class="box-rounded3" src="/Images/product_logo.png"></a>
            </div>
        </div>

    </div>
</div>

<!-- PRODUCT 2 LAYER -->
<div class="product2">
    <div class="container">
        <div class="r pt-1 pr-1 pl-1 pb-0">
            <div class="c-s-12 c-m-12 c-l-6 pl-1 pt-1 pr-1">
                <img class="hinh1" src="~/Images/product_02.png" />
                <div class="bottom-right">Trị nám hiệu quả lắm <br /> Pu đoạt giải noel <br /> về công nghệ tự thục bảo của Nhật. <br />Nám mà gặp chụy là bay hết nha mấy cưng.</div>
            </div>
            <div class="c-s-12 c-m-12 c-l-6  pl-1 pt-1 pr-1 background2">
                <a> <img class="hinh2" src="~/Images/product_01.png" /> </a>
                <div class="text-xl-right text-justify bottom-right1">Bạn này thì khỏi phải nói rồi<br />Thời này rồi cần gì tiêm FILLER nữa<br />Trị lão hóa thay Botox luôn<br />Bôi hai tuần là da căng mướt, trẻ lại chồng yêu</div>
            </div>
        </div>
    </div>
</div>

@* PRODUCT 1 LAYER *@
<div class="product3">
    <div class="container">
        <div class="r p-2 ">
            <div class="c-s-12 c-m-12 c-l-12">
                <img class="hinh3" src="~/Images/vital-barier.png" />
                <div class="btn-ct"><a class="btn btn-second" href="#">Xem chi tiết</a></div>
            </div>
        </div>
    </div>
</div>
