
@{
    ViewBag.Title = "Chăm sóc da";
}

<section class="breadcrumb-area text-center" style="background-repeat:repeat; background-size:unset; background-image:url(/Images/Breadcrumb/BC1.png)">
    <div class="con">
        <div class="r-n-g">
            <div class="c-s-12 d-f flex-wrap ml-4 mr-4">
                <h2 class="pr-3 f-s-180">Liên hệ</h2>
                <ul class="ml-3 d-f justify-content-center align-self-center">
                    <li class="mr-2"><a href="">Trang chủ</a></li>
                    <li class=""><i class="fa fa-long-arrow-right"></i>Chăm sóc da<li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="con">
        <div class="r-n-g">
            <div class="c-s-12 mt-5 mb-5 pt-3">
                <div class="product-cat d-f flex-row flex-wrap justify-content-center">
                    <a href="#" class="active">Tất cả</a>
                    <a href="#">Chống lão hóa</a>
                    <a href="#">Dưỡng da</a>
                </div>
            </div>
        </div>
        <div class="product-list r-n-g mb-5 justify-content-center">
            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>
            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>

            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>

            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>

            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>

            <div class="c-10 c-s-8 c-m-6 c-l-4">
                <article>
                    <div class="item-image">
                        <img src="~/Images/lightox.png" />
                    </div>
                    <div class="item-content mt-5 mb-5 ml-3 mr-3">
                        <a><h4 class="mb-2 bg-link-2">Morbi euismod</h4></a>
                        <p class="text-lighdark">
                            Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget.
                        </p>
                    </div>

                </article>
            </div>

        </div>
    </div>
</section>