
@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/User/Views/Shared/Layout.cshtml";
}


<div class="con">
    <div class="r">
        <div class="c-s-12 c-m-12 c-l-12">
            <div><a class="anhpurience" href="~/Images/product_01.png"></a></div>
        </div>
    </div>
</div>